table.heatmap .modal-open .dropdown-menu{z-index:2050;}
table.heatmap .modal-open .dropdown.open{*z-index:2050;}
table.heatmap .modal-open .popover{z-index:2060;}
table.heatmap .modal-open .tooltip{z-index:2070;}
.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000000;}
.modal-backdrop{opacity:0.8;filter:alpha(opacity=80);}
table.heatmap .modal{position:fixed;top:50%;left:50%;z-index:1050;overflow:auto;width:560px;margin:-250px 0 0 -280px;background-color:#ffffff;border:1px solid #999;border:1px solid rgba(0, 0, 0, 0.3);*border:1px solid #999;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);-moz-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);-webkit-background-clip:padding-box;-moz-background-clip:padding-box;background-clip:padding-box;}.modal.fade{-webkit-transition:opacity .3s linear, top .3s ease-out;-moz-transition:opacity .3s linear, top .3s ease-out;-ms-transition:opacity .3s linear, top .3s ease-out;-o-transition:opacity .3s linear, top .3s ease-out;transition:opacity .3s linear, top .3s ease-out;top:-25%;}
table.heatmap .modal-header{padding:9px 15px;border-bottom:1px solid #eee;}.modal-header .close{margin-top:2px;}
table.heatmap .modal-body{overflow-y:auto;max-height:400px;padding:15px;}
table.heatmap .modal-footer{padding:14px 15px 15px;margin-bottom:0;text-align:right;background-color:#f5f5f5;border-top:1px solid #ddd;-webkit-border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;border-radius:0 0 6px 6px;-webkit-box-shadow:inset 0 1px 0 #ffffff;-moz-box-shadow:inset 0 1px 0 #ffffff;box-shadow:inset 0 1px 0 #ffffff;*zoom:1;}.modal-footer:before,.modal-footer:after{display:table;content:"";}
table.heatmap .modal-footer:after{clear:both;}
table.heatmap .modal-footer .btn+.btn{margin-left:5px;margin-bottom:0;}
table.heatmap .modal-footer .btn-group .btn+.btn{margin-left:-1px;}
table.heatmap .btn{display:inline-block;*display:inline;*zoom:1;padding:4px 10px 4px;margin-bottom:0;font-size:13px;line-height:18px;*line-height:20px;color:#333333;text-align:center;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);vertical-align:middle;cursor:pointer;background-color:#f5f5f5;background-image:-moz-linear-gradient(top, #ffffff, #e6e6e6);background-image:-ms-linear-gradient(top, #ffffff, #e6e6e6);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));background-image:-webkit-linear-gradient(top, #ffffff, #e6e6e6);background-image:-o-linear-gradient(top, #ffffff, #e6e6e6);background-image:linear-gradient(top, #ffffff, #e6e6e6);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);border-color:#e6e6e6 #e6e6e6 #bfbfbf;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#e6e6e6;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);border:1px solid #cccccc;*border:0;border-bottom-color:#b3b3b3;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;*margin-left:.3em;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);}.btn:hover,.btn:active,.btn.active,.btn.disabled,.btn[disabled]{background-color:#e6e6e6;*background-color:#d9d9d9;}
table.heatmap .btn:first-child{*margin-left:0;}
table.heatmap .btn:hover{color:#333333;text-decoration:none;background-color:#e6e6e6;*background-color:#d9d9d9;background-position:0 -15px;-webkit-transition:background-position 0.1s linear;-moz-transition:background-position 0.1s linear;-ms-transition:background-position 0.1s linear;-o-transition:background-position 0.1s linear;transition:background-position 0.1s linear;}
table.heatmap .btn:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
table.heatmap .btn.active,.btn:active{background-color:#e6e6e6;background-color:#d9d9d9 \9;background-image:none;outline:0;-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);}
table.heatmap dl{margin-bottom:18px;}
table.heatmap dt,dd{line-height:18px;}
table.heatmap dt{font-weight:bold;line-height:17px;}
table.heatmap dd{margin-left:9px;}
table.heatmap .dl-horizontal dt{float:left;width:120px;clear:left;text-align:right;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
table.heatmap .dl-horizontal dd{margin-left:130px;}
table.heatmap button.close{padding:0;cursor:pointer;background:transparent;border:0;-webkit-appearance:none;}
table.heatmap .close{float:right;font-size:20px;font-weight:bold;line-height:18px;color:#000000;text-shadow:0 1px 0 #ffffff;opacity:0.2;filter:alpha(opacity=20);}.close:hover{color:#000000;text-decoration:none;cursor:pointer;opacity:0.4;filter:alpha(opacity=40);}
table.heatmap h1,h2,h3,h4,h5,h6{margin:0;font-family:inherit;font-weight:bold;color:inherit;text-rendering:optimizelegibility;}h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{font-weight:normal;color:#999999;}
table.heatmap h1{font-size:30px;line-height:36px;}
table.heatmap h2{font-size:24px;line-height:36px;}
table.heatmap h3{font-size:18px;line-height:27px;}
table.heatmap label,input,button,select,textarea{font-size:13px;font-weight:normal;line-height:18px;}
table.heatmap input,button,select,textarea{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
table.heatmap table{max-width:100%;background-color:transparent;border-collapse:collapse;border-spacing:0;}
table.heatmap .hide{display:none;}
table.heatmap .show{display:block;}
table.heatmap select {width: 220px;height: 30px;border-radius: 0px;border: 1px solid #cccccc;background-color: #ffffff;font-size:13px;font-weight:normal;line-height:18px;}

table.heatmap div.modal-window
{
    position:absolute;
    z-index:101;

}

/* CSV Table Classes */
canvas {
    background-color: #EEE;
}

canvas.header {
    background-color: #FFF;
}

/* Header */
table.heatmap .border {
	background-color: #FFF;
	border: 0px solid white;
	vertical-align: top;
}

table.heatmap .border img {
    float: left;
    margin: 1px;
}
input.heatmap-search {
    height: 18px;
    margin: 1px;
    padding: 1px 4px;
}

table.heatmap tr.border td {
	background-color: #FFF;
	border: 0px solid white;
}

table.heatmap th {
	vertical-align: bottom;
	text-align: center;
	border-bottom: 1px solid #BBB;
	border-right: 1px solid #BBB;
}

table.heatmap tr.annotations th {
     height: 5px;   
     padding: 0px;   
}

table.heatmap tr.annotations td {
    border-bottom: 1px solid #BBB;
    border-left: 1px dotted #BBB;
}

table.heatmap tr.annotations th.title {
     text-align: right;
     font-size: 11px;
     color: white;
     padding-right: 5px;
     border-bottom: 1px solid #BBB;
     border-left: 1px solid #BBB;
}

table.heatmap th.topleft {
    font: 12px Verdana, Arial, Geneva, Helvetica, sans-serif;
    color: #999;
    background-color: #FFF;
    text-align: left;
    width: 220px;
    max-width: 220px;
}

table.heatmap th.topleft select {
    color: #0088cc;
    font-weight: bold;
    background-color: white;
    border: 1px dotted #ddd;
}

table.heatmap th.topleft span {
	vertical-align: top;
	margin-left: 5px;
    display: inline-block;
    width: 55px;
}


table.heatmap th div.col {
	text-align: center;
	vertical-align: middle;
	width: 20px;
	margin: 0px;
	white-space: nowrap;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
}

table.heatmap th.topleft div.filter {
	margin-left: 0px;
	margin-bottom: 15px;
	width: 100%;
	text-align: center;
	font-weight: normal;
	font-size: 10px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
}

table.heatmap td.row {
	padding-left: 0px;
	background-color: #FFF;
	border-right: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
	text-align: right;
	font-weight: bold;
	white-space:nowrap;
}

/* Table Cells */
table.heatmap td {
	padding: 0px;
	text-align: left;
	width: 0px;
	height: 0px;
	font-size: 1px;
}

table.heatmap div.col, table.heatmap td.row, table.heatmap th.title {
     cursor: pointer;   
}

/* Details box */
table.heatmap div.detailsbox {
    position: absolute;
    border: 1px solid black;
    background-color: white;
    display: none;
    overflow: auto;
    font-size: 12px;
    padding-left: 10px;
    color: #000;
}

/* Loader */
#heatmap-loader div.background {
	background-color: #FFF;
        opacity: 0.75;
        position: fixed;
        z-index: 9002;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
}

#heatmap-loader div.loader {
	position: fixed;
	top: 50%;
	left: 50%;
    width: 66px;
    height: 66px;
	margin-top: -30px;
	margin-left: -30px;
	z-index: 9003;
}

table.heatmap td.borderRL, table.heatmap th.borderRL {
    border-right: 1px solid #BBB;
    border-left: 1px solid #BBB;
    border-top: 0px;
    border-bottom: 0px;
    background-color: white;
}

table.heatmap td.border-rows-ann, table.heatmap th.border-rows-ann {
    border: 1px solid #BBB;
    background-color: #FFF;
}

table.heatmap td.border-cols-ann, table.heatmap th.border-cols-ann {
    border: 1px solid #BBB;
    background-color: #FFF;
}


table.heatmap td.borderL, table.heatmap th.borderL {
    border-right: 0px;
    border-left: 1px solid #BBB;
    border-top: 0px;
    border-bottom: 0px;
    background-color: white;
}

table.heatmap td.borderT, table.heatmap th.borderT {
    border-right: 0px;
    border-top: 1px solid #BBB;
    border-left: 0px;
    border-bottom: 0px;
    background-color: white;
}

table.heatmap td.ra {
    border-left: 1px dashed #BBB;
}

table.heatmap {
    line-height: 0px;
}

#tooltip {
    position: absolute;
    z-index: 3000;
    border: 1px solid #111;
    background-color: #eee;
    padding: 5px;
    opacity: 0.85;
    font-size: 8px;
}
#tooltip h3, #tooltip div { margin: 0; }