
# Intellij IDEA files
.idea
*.iml
*.ipr
*.iws

# Eclipse files
.buildpath
.classpath
.project
.settings/
.externalToolBuilders/

# Ignore jquery
lib/jquery*.js

# Site files
site/
.gh-pages

# Temporary files
*~
