#heatmap-loader div.background {
    background-color: #FFF;
    opacity: 0.75;
    position: fixed;
    z-index: 9002;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#heatmap-loader div.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 66px;
    height: 66px;
    margin-top: -30px;
    margin-left: -30px;
    z-index: 9003;
}

#tooltip {
    position: absolute;
    z-index: 3000;
    border: 1px solid #111;
    background-color: #eee;
    padding: 5px;
    opacity: 0.85;
    font-size: 8px;
}

#tooltip h3, #tooltip div {
    margin: 0;
}

table.heatmap div.details-window
{
    position:absolute;
    z-index:101;

}

table.heatmap canvas {
    background-color: #EEE;
    display: inline-block;
}

table.heatmap canvas.header {
    background-color: #FFF;
}

table.heatmap .border {
	background-color: #FFF;
	border: 0px solid white;
	vertical-align: top;
}

table.heatmap .border img {
    float: left;
    margin: 1px;
}
input.heatmap-search {
    height: 18px;
    margin: 1px;
    padding: 1px 4px;
}

table.heatmap tr.border td {
	background-color: #FFF;
	border: 0px solid white;
}

table.heatmap th {
	vertical-align: bottom;
	text-align: center;
	border-bottom: 1px solid #BBB;
	border-right: 1px solid #BBB;
}

table.heatmap tr.annotations th {
     height: 5px;   
     padding: 0px;   
}

table.heatmap tr.annotations td {
    border-bottom: 1px solid #BBB;
    border-left: 1px dotted #BBB;
}

table.heatmap tr.annotations th.title {
     text-align: right;
     font-size: 11px;
     color: white;
     padding-right: 5px;
     border-bottom: 1px solid #BBB;
     border-left: 1px solid #BBB;
}

table.heatmap th.topleft {
    font: 12px Verdana, Arial, Geneva, Helvetica, sans-serif;
    color: #999;
    background-color: #FFF;
    text-align: left;
    width: 220px;
    max-width: 220px;
    padding: 8px 8px;
}

table.heatmap th.topleft select {
    color: #0088cc;
    font-weight: bold;
    background-color: white;
    border: 1px dotted #ddd;
}

table.heatmap th.topleft span {
    vertical-align: top;
    margin-left: 0px;
    display: inline-block;
    margin-top: 2px;
}

table.heatmap th div.col {
	text-align: center;
	vertical-align: middle;
	width: 20px;
	margin: 0px;
	white-space: nowrap;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
}

table.heatmap th.topleft > div.selector {
    width: 220px;
    float: right;
}

table.heatmap th.topleft div.filter {
    margin-top: 5px;
    margin-left: 8px;
    margin-bottom: 15px;
    width: 100%;
    font-weight: normal;
    font-size: 10px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}

table.heatmap td.row {
	padding-left: 0px;
	background-color: #FFF;
	border-right: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
	text-align: right;
	font-weight: bold;
	white-space:nowrap;
}

table.heatmap td {
	padding: 0px;
	text-align: left;
	width: 0px;
	height: 0px;
	font-size: 1px;
}

table.heatmap canvas {
     cursor: pointer;   
}

table.heatmap div.detailsbox {
    position: absolute;
    border: 1px solid black;
    background-color: white;
    display: none;
    overflow: auto;
    font-size: 12px;
    padding-left: 10px;
    color: #000;
}

table.heatmap td.borderRL, table.heatmap th.borderRL {
    border-right: 1px solid #BBB;
    border-left: 1px solid #BBB;
    border-top: 0px;
    border-bottom: 0px;
    background-color: white;
}

table.heatmap td.border-rows-ann, table.heatmap th.border-rows-ann {
    background-color: #FFF;
}

table.heatmap td.border-cols-ann, table.heatmap th.border-cols-ann {
    background-color: #FFF;
}

table.heatmap td.borderL, table.heatmap th.borderL {
    border-right: 0px;
    border-left: 1px solid #BBB;
    border-top: 0px;
    border-bottom: 0px;
    background-color: white;
}

table.heatmap td.borderT, table.heatmap th.borderT {
    border-right: 0px;
    border-top: 1px solid #BBB;
    border-left: 0px;
    border-bottom: 0px;
    background-color: white;
}

table.heatmap td.ra {
    border-left: 1px dashed #BBB;
}

table.heatmap {
    line-height: 0px;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0px;
    padding: 0px;
}

div.shortcuts { 
	text-align: center; 
}
