/* CSV Table Classes */
tr, td, th, table {
    border-collapse: collapse;
    border-spacing: 0px;
    padding: 0px;
    margin: 0px;
    font-size: 1px;
}

/* Header */
table.heatmap thead tr {
	background: #EEE;
}

table.heatmap .border {
	background-color: #FFF;
	border: 0px solid white;
	vertical-align: top;
}

table.heatmap .border img {
	float: left;
}

table.heatmap tr.border td {
	background-color: #FFF;
	border: 0px solid white;
}

table.heatmap th {
	vertical-align: bottom;
	text-align: center;
	border-bottom: 1px solid #333;
	border-top: 1px solid #333;
	border-right: 1px solid #333;
}

table.heatmap tr.annotations th {
     height: 5px;   
     padding: 0px;   
}

table.heatmap tr.annotations td {
    border-bottom: 1px solid #333;
    border-left: 1px dotted #333;    
}

table.heatmap tr.annotations th.title {
     text-align: right;
     font-size: 11px;
     color: white;
     background-color: #333;
     padding-right: 5px;
     border-bottom: 1px solid #333;
     border-left: 1px solid #333;
}

table.heatmap th.topleft {
    font: 12px Verdana, Arial, Geneva, Helvetica, sans-serif;
	color: #FFF;
	background-color: #aaa;
	border-right: 1px solid #333;
	border-left: 1px solid #333;
	text-align: left;
	width: 220px;
	max-width: 220px;
}

table.heatmap th.topleft select {
	width: 20px;
	height: 15px;
	border: 1px solid #CCC;
	background-color: #AAA;
	margin: 0;
	padding: 0;
}

table.heatmap th.topleft span {
	vertical-align: top;
	margin-left: 5px;
}


table.heatmap th div.col {
	text-align: center;
	vertical-align: middle;
	width: 20px;
	margin: 0px;
	white-space: nowrap;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
}

table.heatmap th.topleft div.filter {
	margin-left: 0px;
	margin-bottom: 15px;
	width: 100%;
	text-align: center;
	font-weight: normal;
	font-size: 10px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
}

table.heatmap td.row {
	padding-left: 0px;
	background-color: #EEE;
	border-right: 1px solid #333;
	border-left: 1px solid #333;
	border-bottom: 1px solid #333;
	text-align: right;
	font-weight: bold;
	white-space:nowrap;
}

/* Table Cells */
table.heatmap td {
	padding: 0px;
	text-align: left;
	width: 0px;
	height: 0px;
	font-size: 1px;
}
/* Default background color for rows */
table.heatmap tr {
	background: #F0F0F0;
}

table.heatmap div.col, table.heatmap td.row, table.heatmap th.title {
     cursor: pointer;   
}

/* Details box */
table.heatmap div.detailsbox {
    position: absolute;
    border: 1px solid black;
    background-color: white;
    display: none;
    overflow: auto;
    font-size: 12px;
}

/* Loader */
div.heatmap-loader div.background {
	background-color: #FFF;
        opacity: 0.75;
        position: fixed;
        z-index: 9002;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
}

div.heatmap-loader div.progress {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -30px;
	margin-left: -30px;
	z-index: 9003;
}

table.heatmap td.borderRL, table.heatmap th.borderRL {
    border-right: 1px solid #333;
    border-left: 1px solid #333;    
    border-top: 0px;
    border-bottom: 0px;
    background-color: white;
}

table.heatmap td.border-rows-ann, table.heatmap th.border-rows-ann {
    border: 1px solid #333;
    background-color: #eee;
}

table.heatmap td.border-cols-ann, table.heatmap th.border-cols-ann {
    border: 1px solid #333;
    background-color: #eee;
}


table.heatmap td.borderL, table.heatmap th.borderL {
    border-right: 0px;
    border-left: 1px solid #333;
    border-top: 0px;
    border-bottom: 0px;
    background-color: white;
}

table.heatmap td.borderT, table.heatmap th.borderT {
    border-right: 0px;
    border-top: 1px solid #333;    
    border-left: 0px;
    border-bottom: 0px;
    background-color: white;
}

table.heatmap td.ra {
    border-left: 1px dashed #333;
}
